*.userprefs

/.project
/packages/*

/src/bin/
/src/obj/
/src/packages/*

/src/MK.WebLib/bin/*
/src/MK.WebLib/obj/*
/src/MK.WebLib/packages/*

/src/MK.WebLib.T/bin/*
/src/MK.WebLib.T/obj/*
/src/MK.WebLib.T/packages/*

PRIVATE-*
coverage.xml
TestResult.xml
